<!-- <h3>{{title}}</h3> -->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <img src="../assets/images/doctor.svg"  alt="" height="50px" width="50px">
<img src="../assets/images/medicine.svg"  alt="" height="50px" width="50px">
<img src="../assets/images/surgery.svg  "  alt="" height="50px" width="50px">
<img src="../assets/images/mb-gold.svg"  alt="" height="50px" width="50px">
<img src="../assets/images/insurance.svg"  alt="" height="50px" width="50px">
<img src="../assets/images/labtest.svg"  alt="" height="50px" width="50px">
<img src="../assets/images/medibuddyWithName.svg"  alt="" height="70px" width="90px"> -->
